<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />


<div class='jumbotron'>
  <h1>Scrabble Score</h1>
</div>
<form action="/result" method="post">
  <label for="scrable">Type Word:</label>
  <input type="text" name="scrabble" class="form-control" id="scrable">
  <button type="submit" class="btn btn-primary">Get Score</button>
</form>
