
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
<link rel="stylesheet" type="text/css" href="~/css/styles.css" />

@if(Model != null)
      {

              <h3> The word @Model.GetWord() has a score of:@Model.CheckScrabble()</h3>
}
